
.App {
  text-align: center;
  height:200vh;
  background-size: cover;
  background-attachment: fixed;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body {
  width: 90vw;
  justify-content: center;
  margin: auto;
}

.header {
  padding-top: 150px;
  margin-bottom: 50px;
  color: white;
  align-items: center;
  font-size: 64px;
  text-shadow: 0px 0px 10px #040404;
}

.form-control {
  size: .3vw;
  justify-content: center;
  margin: auto;
}

.city, .lat-lon {
  color: white;
  /* background-color: rgb(0,0,0,30%); */
  text-shadow: 0px 0px 10px #040404;

}

.city {
  margin-top: 40px;
}

.lat-lon {
  margin-top: 10px;
}

.form-button {
  margin: 15px;
}

.dailyWeather {
  flex-direction: row;
  justify-content: center;
}

.collapse show {
  flex-direction: row;
}
.cardDisplay {
  margin: 20px;
}

.cardText {
  height: 100px;
  overflow: auto;
}
.cardBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-center {
  justify-content: center;
}

.explore-buttton {
  margin-bottom: 10px;
}